---
version: '2'
volumes:
  data:
    driver: local

services:

  # REST API
  api:
    container_name: api
    build:
      context: .
      dockerfile: Dockerfile.api
    image: msgre/common:europe-api.latest
    volumes:
      - $PWD/europe:/src/app
      - data:/uploads
    ports:
      - "8080:8080"
    command: --socket 0.0.0.0:8080 --master --processes 1 --max-requests 1 --env DJANGO_SETTINGS_MODULE=europe.settings_api --module europe.wsgi_api:application --chdir /src/app
    stop_signal: SIGINT

  # admin interface
  admin:
    container_name: admin
    build:
      context: .
      dockerfile: Dockerfile.admin
    image: msgre/common:europe-admin.latest
    volumes:
      - $PWD/europe:/src/app 
      - data:/uploads
    ports:
      - "8084:8084"
    command: --socket 0.0.0.0:8084 --master --processes 1 --max-requests 1 --env DJANGO_SETTINGS_MODULE=europe.settings_admin --module europe.wsgi_admin:application --chdir /src/app
    stop_signal: SIGINT

  # javascript application
  js:
    container_name: js
    build:
      context: .
      dockerfile: Dockerfile.js
    image: msgre/common:europe-js.latest 
    command: /bin/true
    volumes:
      - $PWD/static:/src/js 

  # watcher application (websocket bridge between browser and HW)
  watcher:
    container_name: watcher
    # build:
    #   context: ./watcher/
    #   dockerfile: ./watcher/Dockerfile
    image: msgre/common:europe-watcher.latest 
    volumes:
      - $PWD/watcher/gates:/root/gates 
    ports:
      - "8082:8082"
    environment:
      DEBUG: 1
    tty: true

  # nginx proxy
  nginx:
    container_name: nginx
    image: nginx
    ports:
      - "8081:80"
    volumes:
      - data:/uploads
      - "$PWD/ansible/files/europe.nginx.conf:/etc/nginx/conf.d/default.conf:ro"
    volumes_from:
      - js
    links:
      - api
      - admin
      - watcher
    depends_on:
      - api
      - admin
      - watcher
