.clear {
    clear:both;
}
.text-right {
    text-align: right;
}

// jinak to dela prazdne misto pod obrazkem
// http://stackoverflow.com/a/14720811
img {
    //display: block;
    vertical-align:text-bottom;
}
