@import "reset.css";
@import "fonts.css";
body {
  color: #4d4944;
}
.clear {
  clear: both;
}
.text-right {
  text-align: right;
}
img {
  vertical-align: text-bottom;
}
#version {
  position: absolute;
  top: 0;
  left: 0;
  color: #eee;
  padding: .5em;
  text-transform: uppercase;
}
body {
  font-family: 'Roboto', sans-serif;
}
.icon {
  padding-left: 1.3em;
}
.icon-star {
  background: transparent url(../svg/star.svg) no-repeat 0% 0%;
}
.icon-star-small {
  background: transparent url(../svg/star-small.svg) no-repeat 0% 0%;
}
body {
  display: flex;
  min-height: 100vh;
  margin: 0;
}
body #main {
  margin: auto;
  width: 1638px;
  height: 900px;
  background: #fff;
}
#header,
#header-debug {
  height: 120px;
  width: 100%;
}
#header h1,
#header-debug h1 {
  font-weight: 400;
  font-size: 3.5em;
  text-transform: uppercase;
  float: left;
  margin-top: .6em;
  margin-left: .4em;
}
#header h1 img,
#header-debug h1 img {
  display: block;
  position: relative;
  float: left;
  top: -8px;
  width: 82px;
  height: 60px;
  padding-right: .1em;
  vertical-align: baseline;
}
#header h2,
#header-debug h2 {
  font-weight: 400;
  font-size: 2em;
  text-transform: uppercase;
  float: right;
  margin-top: 1.4em;
  margin-right: 1em;
}
#header-debug {
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  color: #000;
  background-color: #fff;
}
#header-debug h1 {
  margin-left: 0;
}
#header-debug h1 span {
  float: right;
  font-weight: 100;
}
#header-debug.zmena {
  color: white;
  background-color: orange;
}
.layout-a #header {
  background-color: #6d9499;
  color: #fff;
}
.layout-b #header {
  background-color: #fff;
  color: #4d4944;
}
.layout-b #header h1 {
  margin-left: 0;
}
.layout-b #header .bar {
  float: right;
  background: #d06156 url(../svg/bar.svg) no-repeat;
  width: 1100px;
  height: 60px;
  margin-top: 30px;
}
.layout-b #header .bar p {
  font-size: 2.6em;
  color: #fff;
  margin-top: .24em;
}
.layout-b #header .bar p:first-child {
  float: left;
  margin-left: .24em;
}
.layout-b #header .bar p:last-child {
  float: right;
  margin-right: .24em;
}
#body {
  height: 780px;
  width: 100%;
  background-color: #fff;
}
#body h2 {
  font-size: 1.6em;
  font-weight: 700;
  text-transform: uppercase;
}
#body p {
  font-size: 1.6em;
}
#body p.help {
  margin-top: 2em;
}
#body .col {
  margin-top: 3em;
  width: 48%;
}
#body .col:nth-child(1) {
  float: left;
}
#body .col:nth-child(2) {
  float: right;
}
#body table.help {
  margin-top: 2em;
}
#body table.help td {
  vertical-align: middle;
}
#body table.help td p {
  font-size: 1.4em;
  padding-left: .5em;
  padding-right: 1em;
}
#body table.results {
  width: 100%;
  font-size: 1.4em;
  margin-top: 1em;
}
#body table.results tr {
  border-top: 1px solid #000;
}
#body table.results tr td {
  padding: .6em;
  text-align: left;
}
#body table.results tr td.text-right {
  text-align: right;
}
#body table.results tr td:first-child {
  border-right: 1px solid #000;
}
#body table.results tr td:last-child {
  text-align: right;
  width: 100%;
}
#body table.results tr:last-child {
  border-bottom: 1px solid #000;
}
#body .recap {
  width: 809px;
  margin-top: 20px;
  float: left;
  background-color: #222;
  color: #fff;
}
#body .recap table.text {
  float: left;
}
#body .recap table.text td {
  padding: 0.2em 2em;
  font-size: 1.6em;
}
#body .recap table.text tr:first-child td {
  color: white;
  vertical-align: bottom;
}
#body .recap table.text tr:last-child td {
  color: yellow;
  vertical-align: top;
}
#body .recap img {
  height: 100%;
  float: right;
}
#body .recap.good {
  background-color: green;
}
#body .recap.bad {
  background-color: red;
}
#body .recap:nth-child(even) {
  margin-left: 10px;
}
#body .recap:nth-child(odd) {
  margin-right: 10px;
}
#body table.game {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 3.4em;
}
#body table.game td {
  text-align: center;
  vertical-align: middle;
  background-color: #4d4944;
}
#body table.game td.text {
  border-left: 10px solid #fff;
  padding: 1em 2em;
  width: 100%;
  background-color: #6d9499;
}
#body table.game td.text-only {
  padding: 1em 2em;
  line-height: 1.4em;
  width: 100%;
  background-color: #6d9499;
}
#body table.gamemode {
  width: 100%;
  height: 100%;
}
#body table.gamemode td {
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}
#body table.gamemode .button p {
  margin: 1.9em 1em;
  font-size: 2em;
}
#body table.gamemode .button p img {
  padding-right: .2em;
  vertical-align: middle;
  width: 72px;
  height: 48px;
  position: relative;
  top: -8px;
}
#body table.gamemode tr.row-1 td {
  padding-top: 70px;
}
#body table.gamemode tr.row-1 .button:last-child {
  margin: 0;
}
#body table.gamemode tr.row-2 {
  margin-top: 18px;
  height: 100%;
}
#body table.gamemode tr.row-2 .button {
  margin-bottom: 18px;
}
#body table.gamemode tr.row-2 .button:nth-child(4n) {
  margin-right: 0;
}
#body table.gamemode tr.row-2 .button:nth-child(n+4) {
  margin-bottom: 0;
}
#body table.gamemode tr.row-2 .button p {
  margin-top: 1.75em;
}
#body table.gamemode tr.row-2 td {
  text-align: left;
}
#body table.gamemode tr.row-3 td {
  padding-bottom: 70px;
}
#body table.gamemode tr.row-3 .button:last-child {
  margin: 0;
}
#body table.debug {
  width: 100%;
  height: 100%;
}
#body table.debug td {
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}
#body table.debug .button {
  height: 40px;
}
#body table.debug .button p {
  padding: 0.8em 1em 0em 1em;
  font-size: 1em;
}
#body table.debug .button span {
  position: relative;
  top: 4px;
  float: right;
  padding-left: 2em;
  font-size: .7em;
  font-weight: 100;
}
#body table.debug tr.row-1 td {
  padding-top: 70px;
}
#body table.debug tr.row-1 .button:last-child {
  margin: 0;
}
#body table.debug tr.row-2 {
  vertical-align: top;
  margin-top: 18px;
  height: 100%;
}
#body table.debug tr.row-2 .button {
  margin-bottom: 18px;
}
#body table.debug tr.row-2 .button:nth-child(4n) {
  margin-right: 0;
}
#body table.debug tr.row-2 td {
  text-align: left;
}
#body table.debug tr.row-3 td {
  padding-bottom: 70px;
}
#body table.debug tr.row-3 .button:last-child {
  margin: 0;
}
#body table.crossroad {
  width: 100%;
  height: 100%;
}
#body table.crossroad td {
  text-align: left;
  vertical-align: middle;
  text-transform: uppercase;
}
#body table.crossroad .button p {
  margin: 1.7em 1em;
  font-size: 2em;
}
#body table.crossroad .button p img {
  padding-right: .2em;
  vertical-align: middle;
  width: 72px;
  height: 48px;
  position: relative;
  top: -8px;
}
#body table.crossroad .button:last-child {
  margin-right: 0;
}
#body table.crossroad .button:last-child p {
  margin-left: 2.3em;
}
#body table.result {
  width: 100%;
  height: 100%;
}
#body table.result tr.row-1 {
  height: 420px;
  background: #222;
  color: #fff;
  border-top: 18px solid #ffffff;
}
#body table.result tr.row-1 td {
  text-align: center;
  vertical-align: middle;
}
#body table.result tr.row-1 td h1 {
  font-size: 4em;
  text-transform: uppercase;
}
#body table.result tr.row-1 td h1 img {
  padding-right: .2em;
  vertical-align: bottom;
  width: 84px;
  position: relative;
  top: -8px;
}
#body table.result tr.row-1 td h2 {
  color: #fff;
  font-size: 8em;
  font-weight: 700;
  margin: .2em 0;
  height: 128px;
}
#body table.result td.typewriter {
  vertical-align: middle;
  text-align: center;
  font-size: 3.8em;
  font-weight: 900;
  color: #1f3c60;
}
#body table.result td.typewriter table {
  width: 100%;
}
#body table.result td.typewriter table td {
  padding: 20px 0 10px 0;
  text-align: center;
  vertical-align: middle;
  width: 70px;
}
#body table.result td.typewriter table td.selected {
  color: #fff;
  background: #1f3c60;
}
#body table.result td.typewriter table td.selected svg {
  width: 38px;
  height: 38px;
}
#body table.result td.typewriter table td.selected svg rect {
  fill: #1f3c60;
}
#body table.result td.typewriter table td.empty svg {
  position: relative;
  top: 11px;
}
#body table.result tr.row-3 {
  font-size: 2.2em;
}
#body table.result tr.row-3 td {
  color: #4d4944;
  padding: 8px 4px 3px 4px;
  text-align: center;
  width: 25px;
}
#body table.result tr.row-3 td svg {
  position: relative;
  top: 2px;
}
#body table.result tr.row-3 td.selected {
  color: #fff;
  background: #4d4944;
}
#body table.result tr.row-3 td.selected svg rect {
  fill: #4d4944;
}
#body table.result tr.row-4 p {
  font-size: 1.6em;
}
#body table.good-result tr.row-1 {
  background: #d06156;
}
#body table.bad-result tr.row-1 {
  background: #1f3c60;
}
.layout-c #body {
  height: 900px;
}
.layout-c #body table.countdown {
  width: 100%;
  height: 100%;
}
.layout-c #body table.countdown td {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  background: transparent url(../svg/circle.svg) no-repeat 50% 50%;
}
.layout-c #body table.state-4 td {
  font-size: 6em;
  background-color: red;
}
.layout-c #body table.state-3 td,
.layout-c #body table.state-2 td,
.layout-c #body table.state-1 td {
  font-size: 28em;
  background-color: orange;
}
.layout-c #body table.state-0 td {
  font-size: 9em;
  background-color: green;
}
.layout-c #body table.intro {
  width: 100%;
  height: 100%;
  background-color: #222;
}
.layout-c #body table.intro td {
  color: #fff;
}
.layout-c #body table.intro td.cell-a1 {
  width: 1320px;
  height: 600px;
}
.layout-c #body table.intro td.cell-a1,
.layout-c #body table.intro td.cell-a2 {
  border-bottom: 18px solid #ffffff;
}
.layout-c #body table.intro td.cell-a1,
.layout-c #body table.intro td.cell-b1 {
  border-right: 18px solid #ffffff;
}
.layout-c #body table.intro td.cell-a2 {
  background-color: #d06156;
  text-align: left;
  vertical-align: top;
}
.layout-c #body table.intro td.cell-a2 div {
  margin: 1.6em;
}
.layout-c #body table.intro td.cell-a2 div h2 {
  font-size: 2.1em;
}
.layout-c #body table.intro td.cell-a2 div table {
  font-size: 1.3em;
  width: 100%;
  margin-top: 1em;
  border-top: 1px solid #fff;
}
.layout-c #body table.intro td.cell-a2 div table tr {
  border-bottom: 1px solid #fff;
}
.layout-c #body table.intro td.cell-a2 div table tr td {
  padding: .4em 0;
}
.layout-c #body table.intro td.cell-a2 div table tr td:nth-child(2) {
  max-width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.layout-c #body table.intro td.cell-b1 {
  background-color: #6d9499;
}
.layout-c #body table.intro td.cell-b1 div {
  padding: 3.6em 0 0 3.2em;
}
.layout-c #body table.intro td.cell-b1 div h1 {
  font-size: 5.8em;
  font-weight: 700;
  text-transform: uppercase;
}
.layout-c #body table.intro td.cell-b1 div h3 {
  margin-top: .3em;
  font-size: 3.6em;
  font-weight: 400;
}
.layout-c #body table.intro td.cell-b2 {
  background-color: #1f3c60;
  text-align: center;
  vertical-align: middle;
}
.button {
  height: 150px;
  float: left;
  background-color: #1f3c60;
  color: #fff;
  margin: 0 18px 0 0;
}
.button.active {
  background-color: #d06156;
  color: #fff;
}
.button.disabled {
  background-color: #4d4944;
}
.button-1-4 {
  width: 396px;
}
.button-2-4 {
  width: 810px;
}
.button-3-4 {
  width: 1224px;
}
.button-4-4 {
  width: 1638px;
}
