<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Europe layout demos</title>
    <link href="../css/styles.css" rel="stylesheet" type="text/css">
</head>
<body class="layout-c">
    <div id="main">
        <div id="body">
            <table class="intro">
                <tr class="row-1">
                    <td class="cell-a1"><img src="../img/brandenburg.jpg" width="1320" height="600" /></td>
                    <td class="cell-a2">
                        <div>
                            <h2>Nejlepší časy</h2>
                            <table class="intro-result">
                                <tr>
                                    <td>Popis</td>
                                    <td>Jarda</td>
                                    <td class="text-right">02:36,12</td>
                                </tr>
                                <tr>
                                    <td>Název</td>
                                    <td>Nanynka</td>
                                    <td class="text-right">02:22,32</td>
                                </tr>
                                <tr>
                                    <td>Hlavní města</td>
                                    <td>Ufoun</td>
                                    <td class="text-right">02:19,36</td>
                                </tr>
                                <tr>
                                    <td>Jazyk</td>
                                    <td>M345</td>
                                    <td class="text-right">02:11,52</td>
                                </tr>
                                <tr>
                                    <td>Obrys státu</td>
                                    <td>Mumie</td>
                                    <td class="text-right">02:03,12</td>
                                </tr>
                                <tr>
                                    <td>Vlajka</td>
                                    <td>Hafo</td>
                                    <td class="text-right">01:26,12</td>
                                </tr>
                                <tr>
                                    <td>Obrázky</td>
                                    <td>Tukan</td>
                                    <td class="text-right">03:36,12</td>
                                </tr>
                                <tr>
                                    <td>Místopis</td>
                                    <td>Baba</td>
                                    <td class="text-right">02:46,12</td>
                                </tr>
                                <tr>
                                    <td>Mapy</td>
                                    <td>Hhh</td>
                                    <td class="text-right">02:31,13</td>
                                </tr>
                                <tr>
                                    <td>Příroda</td>
                                    <td>Qwert</td>
                                    <td class="text-right">02:33,32</td>
                                </tr>
                                <tr>
                                    <td>Kultura</td>
                                    <td>Pepka</td>
                                    <td class="text-right">02:56,22</td>
                                </tr>
                                <tr>
                                    <td>Vše</td>
                                    <td>MMMMMMMMMMMMMMMM</td>
                                    <td class="text-right">01:23,12</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr class="row-2">
                    <td class="cell-b1">
                        <div>
                            <h1>Chceš začít novou hru?</h1>
                            <h3>Stiskni kterékoliv tlačítko na panelu!</h3>
                        </div>
                    </td>
                    <td class="cell-b2">
                        <img src="../svg/circle.svg" width="200px">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
