<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Europe layout demos</title>
    <link href="../css/styles.css" rel="stylesheet" type="text/css">
</head>
<body class="layout-a">
    <div id="main">
        <div id="header">
            <h1 class="icon icon-star">Hlavní města</h1>
            <h2>Jednoduchá úroveň</h2>
        </div>
        <div id="body">
            <table class="result">
                <tr class="row-1">
                    <td colspan="2">
                        <h1>Nový rekord!</h1>
                        <h2>02:36,12</h2>
                        <p>Tvůj čas se dostal do žebříčku. Zadej jméno svého týmu.</p>
                    </td>
                </tr>
                <tr class="row-2">
                    <td class="typewriter"><span class="selected">H</span> ␣ ␣ ␣ ␣ ␣ ␣ ␣ ␣ ␣ ␣ ␣ ␣ ␣ ␣ ␣</td>
                    <td class="help" rowspan="2">
                        <div>
                            <p>kjhf kjdshf kjsdhf jkdshfk jsdhkfh ksdjh fkjsdh fkjsdh fkjsdhkfj hsdkjfh ksdjfh ksdj</p>
                            <p>kjhf kjdshf kjsdhf jkdshfk jsdhkfh ksdjh fkjsdh fkjsdh fkjsdhkfj hsdkjfh ksdjfh ksdj</p>
                            <br>
                            <p>kjhf kjdshf kjsdhf jkdshfk jsdhkfh ksdjh fkjsdh fkjsdh fkjsdhkfj hsdkjfh ksdjfh ksdj</p>
                        </div>
                    </td>
                </tr>
                <tr class="row-3">
                    <td colspan="2">A Á B C Č D Ď E É Ě F G H I Í J K <span class="selected">L</span> M N Ň O P Q R Ř S Ř T Ť U Ú Ů V W X Y Z Ž 0 1 2 3 4 5 6 7 8 9 ✔ 🔙</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
