<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Europe layout demos</title>
    <link href="../css/styles.css" rel="stylesheet" type="text/css">
</head>
<body class="layout-b">
    <div id="main">
        <div id="header">
            <h1>Hlavní města</h1>
            <div class="bar">
                <p>1/10</p>
                <p>12:45,23</p>
            </div>
        </div>
        <div id="body">
            <table class="game">
                <tr>
                    <td><img src="../img/brandenburg.jpg" alt="ppp" width="600px" height="780px" /></td>
                    <td class="text">Ve které zemi se nachází město Oslo?</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
