<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Europe layout demos</title>
    <link href="../css/styles.css" rel="stylesheet" type="text/css">
</head>
<body class="layout-c">
    <div id="main">
        <div id="body">
            <table class="gamemode">
                <tr class="row-1">
                    <td>
                        <div class="button button-2-4"><p>Jednoduchá hra</p></div>
                        <div class="button button-2-4"><p>Obtížná hra</p></div>
                    </td>
                </tr>
                <tr class="row-2">
                    <td>
                        <div class="button button-1-4"><p class="icon icon-star-small">Popis</p></div>
                        <div class="button button-1-4"><p class="icon icon-star-small">Jazyk</p></div>
                        <div class="button button-1-4"><p class="icon icon-star-small">Obrázky</p></div>
                        <div class="button button-1-4"><p class="icon icon-star-small">Kultura</p></div>
                        <div class="button button-1-4"><p class="icon icon-star-small">Popis</p></div>
                        <div class="button button-1-4"><p class="icon icon-star-small">Jazyk</p></div>
                        <div class="button button-1-4"><p class="icon icon-star-small">Obrázky</p></div>
                        <div class="button button-1-4"><p class="icon icon-star-small">Kultura</p></div>
                        <div class="button button-1-4"><p class="icon icon-star-small">Popis</p></div>
                        <div class="button button-1-4"><p class="icon icon-star-small">Jazyk</p></div>
                        <div class="button button-1-4"><p class="icon icon-star-small">Obrázky</p></div>
                        <div class="button button-1-4"><p class="icon icon-star-small">Kultura</p></div>
                    </td>
                </tr>
                <tr class="row-3">
                    <td>
                        <div class="button button-3-4"><p>Hrát</p></div>
                        <div class="button button-1-4"><p>Vybrat znovu</p></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
