<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Europe layout demos</title>
    <link href="../css/styles.css" rel="stylesheet" type="text/css">
</head>
<body class="layout-a">
    <div id="main">
        <div id="header">
            <h1 class="icon icon-star">Hlavní města</h1>
            <h2>Jednoduchá úroveň</h2>
        </div>
        <div id="body">
            <div class="recap">
                <div class="text">
                    <p class="question">Ve které zemi se nachází město Berlín?</p>
                    <p class="answer">Německo</p>
                </div>
                <img src="../img/berlin.jpg" />
            </div>
            <div class="recap">
                <div class="text">
                    <p class="question">Ve které zemi se nachází město Berlín?</p>
                    <p class="answer">Německo</p>
                </div>
                <img src="../img/berlin.jpg" />
            </div>
            <div class="recap">
                <div class="text">
                    <p class="question">Ve které zemi se nachází město Berlín?</p>
                    <p class="answer">Německo</p>
                </div>
                <img src="../img/berlin.jpg" />
            </div>
            <div class="recap">
                <div class="text">
                    <p class="question">Ve které zemi se nachází město Berlín?</p>
                    <p class="answer">Německo</p>
                </div>
                <img src="../img/berlin.jpg" />
            </div>
            <div class="recap">
                <div class="text">
                    <p class="question">Ve které zemi se nachází město Berlín?</p>
                    <p class="answer">Německo</p>
                </div>
                <img src="../img/berlin.jpg" />
            </div>
            <div class="recap">
                <div class="text">
                    <p class="question">Ve které zemi se nachází město Berlín?</p>
                    <p class="answer">Německo</p>
                </div>
                <img src="../img/berlin.jpg" />
            </div>
            <div class="recap">
                <div class="text">
                    <p class="question">Ve které zemi se nachází město Berlín?</p>
                    <p class="answer">Německo</p>
                </div>
                <img src="../img/berlin.jpg" />
            </div>
            <div class="recap">
                <div class="text">
                    <p class="question">Ve které zemi se nachází město Berlín?</p>
                    <p class="answer">Německo</p>
                </div>
                <img src="../img/berlin.jpg" />
            </div>
        </div>
    </div>
</body>
</html>
