#!/bin/bash

# http://www.howtogeek.com/howto/30184/10-ways-to-generate-a-random-password-from-the-command-line/
/bin/date +%s | /usr/bin/sha256sum | /usr/bin/base64 | /usr/bin/head -c 50 > {{app_conf_dir}}/.secret_key
