<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML návrhy typových obrazovek</title>
</head>
<body>
    <h1>HTML návrhy typových obrazovek</h1>
    <ul>
        <li><a href="html/page_01.html">01 intro</a></li>
        <li><a href="html/page_02.html">02 crossroad</a></li>
        <li><a href="html/page_03.html">03 scores</a></li>
        <li><a href="html/page_04.html">04 gamemode</a></li>
        <li>05 countdown (<a href="html/page_05a.html">varianta A</a>, <a href="html/page_05b.html">varianta B</a>, <a href="html/page_05e.html">varianta E</a>)</li>
        <li>06 game (<a href="html/page_06a.html">varianta A</a>, <a href="html/page_06b.html">varianta B</a>, <a href="html/page_06c.html">varianta C</a>, <a href="html/page_06d.html">varianta D</a>)</li>
        <li><a href="html/page_07.html">07 result</a></li>
        <li><a href="html/page_08.html">08 recap</a></li>
    </ul>
</body>
</html>
